
.header {
    width: 100vw;
    display: flex;
    background-color: #464775;
    padding: 6px 0px;
    color: white;
  }
  .header .menu {
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .header .left-fold {
    margin-left: 12px;
    flex:4;
    align-items: center;
    justify-content: flex-start;
  }
  .header .right-fold {
    display: flex;
    flex: 11;
    align-items: center;
    justify-content: space-between;
  }
  .label-heading {
    font-size: 20px;
    margin-left: 16px;
    font-weight: 500;
  }
  .header-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e1e1e1;
    padding: 0px;
    border-radius: 6px;
    color: #464775;
    flex:6;
  }
  .header-search input {
    width: 100%;
    border: none;
    font-size: 16px;
    background-color: #e1e1e1;
    margin-left: 6px;
    color: #464775;
    outline: none;
  }
  .header-option {
    flex: 1;
    justify-content: flex-end;
    margin-right: 16px;
  }
  .header-option img {
    height: 32px;
  }