.App{
    height: 100vh;
}
.container{
    display: flex;
    text-align: center;
    
}
.container .sidebar{
    flex: 1;
    
}
.container .left-fold{
    flex:3;
    
}
.container .right-fold{
    flex:11;
   
}